@{
    ViewData["Title"] = "Find distance";
}

<h2>Find distance</h2>

<form id="address-form" action="#">
    <label for="address">Search address</label>
    <input id="address" type="text" placeholder="Address" value="" />
    <input type="submit" id="submit-address">
</form>

<button id="searchbutton">Get distance</button>

<div id="result"></div>