@{
    ViewData["Title"] = "Home Page";
}

<h1>Find distance</h1>

<form id="address-form" action="#">
    <label for="address">Search address</label>
    <input id="address" type="text" placeholder="Search company or address.." value="" />
    <input type="submit" id="submit-address">
</form>


<ul id="result-list"></ul>
